*{margin:0;padding:0;}
html
{
	overflow:hidden;
	overflow-x:auto;
	height:100%;
	background-color:#999;
}
header
{
	overflow:auto;
	position:fixed;
	top:0;
	left:0;	
}
#shadow
{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:black;
	z-index:2;
}
#loadingImage
{
	position:fixed;
	top:50%;
	left:50%;
	height:300px;
	width:200px;
	margin-left:-100px;
	margin-top:-150px;
	z-index:3;
}
.list, .module
{
	width:200px;
	border:1px solid black;
	margin:5px;
	padding:5px;
	border-radius:10px;
	background-color:#999;
}
.list
{
	overflow-y:auto;
}
.categorie
{
	overflow:hidden;
	box-shadow:2px 2px 10px white;
	margin:10px;
	margin-top:35px;
	float:left;
}
.titre
{
	font-size:18px;	
	padding:10px;
}
.container
{
	border:1px solid black;
	float:left;
}
input
{
	margin:2px;
	padding:1px;
}

 .TB_listEditName
{
	position:absolute;
	display:none;
}
.list div
{
	padding:3px;
	border-radius:5px;
	cursor:pointer;
}
.list div:hover
{
	background-color:#eee;
}
.selected
{
	background-color:#ddd;
}
.fleft
{
	float:left;
}
#D_status
{
	width:500px;
	float:left;
	position:relative;
	border:1px solid black;
	border-radius:5px;
	padding:3px;
	text-align:center;
}
#D_colorBar
{
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
	background-color:#ddddff;
}
#D_elementFrames
{
	border:1px solid black;
	margin:5px;
	padding:5px;
	border-radius:10px;
	overflow:auto;
}
#D_elementFrames div
{
	border-radius:5px;
	background-color:#eee;
	float:left;
	padding:2px 5px;
	margin:1px;
	cursor:pointer;
}
input[type=text]
{
	width:150px;
}
input[type=number]
{
	width:60px;
}
/*TOP MENU*/
.menu-item
{
	padding:0 10px;
}

/*OPTION MENU*/
.optionMenu{
	position:absolute;
	display:none;
	background-color:white;
	box-shadow:2px 2px 5px grey;
}
.optionMenu div{
	padding:3px;
}
.optionMenu div:hover{
	background-color:#eee;
}